.DS_Store
.env

.idea/
.settings
.vscode/
node_modules/
coverage/
target/

*.log
*.tsbuildinfo

dist/
lib/
!apps/docs/src/lib/
!apps/docs/src/lib/**
playground/

.merlin
.bsb.lock

*.bs.js

**/.astro/

/docs/
